@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body {
    font-family: oswald, serif;
    background: linear-gradient(90deg, #808080 0%, #000000 100%);
}
p {
    color: #ffffff;
}
.nav-link {
    color: rgb(239, 239, 239)
}

.navbar-nav .nav-link.active {
    color: rgb(154, 154, 154);
}

.navbar-brand img {

    width: 45px;
}

.navbar-toggler {
    background-color: beige;
}
.carousel-inner{
    padding-left: 80px;
    justify-content: space-between;
    width: 90%;
   
   
}
.panel-down{
margin-bottom: -2rem;

}
.row .card {
    box-shadow: 12px 11px 14px 1px #000000;
}

.sidebar {
    color: aliceblue;
    background: linear-gradient(90deg, #484848 0%, #838383 100%);

}

.card {
    background-color: rgb(109, 109, 109);
    color: rgb(255, 255, 255);

}

.card a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.slidetext,
.footer-foot {
    color: #ffffff;
    margin: auto auto;
}

@media(max-width: 755px) {

    .carousel-indicators {
        display: none;
    }
}
footer,.btn-outline-primary{
    
    background: linear-gradient(90deg, #484848 0%, #838383 100%);
}
.btn-outline-primary{
    color: #000000;
    border-color: #000000;
}

.call-anim{
    animation: myAnim 3s ease-out 0s 1 normal forwards;
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}

.media-links{
    display: flex;
    justify-content: center;
    align-items: center;
}